@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html {
  background-color: #121010;
  color: white;
}

.container {
  font-family: "Roboto", sans-serif;
  width: 50%;
  margin-left: 25%;
}

img {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
}

header {
  margin-left: 30%;
  font-size: 50px;
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

button {
  padding: 10px 15%;
  text-align: center;
  background-color: #433f3f;
  border: 1px solid #d5cdcd;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #000000;
  color: white;
  transition: transform 500ms;
}

button:hover {
  transform: scale(1.2);
}

h2 {
}
